@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Cinzel:wght@400;500;600&family=Josefin+Sans:wght@100&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200;1,400&family=Rufina:wght@400;700&family=Ubuntu&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
